<div class="mx-auto md:w-1/2 p-4 md:p-8 bg-gray-400">

  <%= form_for [current_user, @service] do |f| %>
    <div class="field mb-4">
<%= f.label "Name of Service:" %>
<%= f.text_field :name %>
    </div>
    <div class="field mb-4">
<%= f.label "Street Address:" %>
<%= f.text_field :address %>
    </div>
    <div class="field mb-4">
<%= f.label "Town:" %>
<%= f.text_field :city %>
    </div>
    <div class="field mb-4">
<%= f.label "State:"%>
<%= f.text_field :state_province %>
    </div>
    <div class="field mb-4">
<%= f.label "Postal Code:"%>
<%= f.text_field :postal code %>
    </div>
    <div class="field mb-4">
<%= f.label "Phone:"%>
<%= f.text_field :number %>
    </div>
    <div class="actions mb-8">
      <%= f.submit submit_message, class: "px-5 py-2 my-2 bg-gray-200 hover:bg-gray-800 hover:text-grat-100 rounded" %>
    </div>
  <% end %>
</div>
