<%= render "header" %>

<div class="flex mt-4">
    <div class="w-full text-center">
        <h1 class="font-semibold text-2xl text-gray-800"><%= @service.display_name %></h1>
    </div>
</div>
<div class="flex justify-around mt-2">
    <div><span class="text-gray-700">Food pantry</span></div>
    <div><a class="text-blue-600 hover:underline" href="">Leave feedback</a></div>
</div>
<div class="flex mt-2 pl-5">
    <div class="font-semibold text-2xl text-gray-800">Info</div>
</div>
<%= render partial: 'info', :locals => {:info_1 => @service.location.physical_address.address.split.map(&:capitalize)*' ', :info_2 => @service.phones.pluck(:number).join(", ") } %>
<% complete_address = @service.location.physical_address.city.to_s + ", " + @service.location.physical_address.state_province.to_s + " " + @service.location.physical_address.postal_code %>
<%= render partial: 'info', :locals => {:info_1 => complete_address, :info_2 => "No e-mail registred." } %>
<%= render partial: 'info', :locals => {:info_1 => "", :info_2 => @service.url } %>
<br>
<%= render partial: 'info', :locals => {:info_1 => "Income qualifications", :info_2 => "..." } %>
<%= render partial: 'info', :locals => {:info_1 => "Required documentation", :info_2 => "..." } %>
<%= render partial: 'info', :locals => {:info_1 => "Typically available", :info_2 => "..." } %>

<div class="flex mt-5 pl-5">
    <div class="font-semibold text-2xl text-gray-800">Hours</div>
</div>
<%= render partial: 'info', :locals => {:info_1 => "Open now", :info_2 => "" } %>
<%= render partial: 'info', :locals => {:info_1 => "Monday", :info_2 => "9:00am - 5:00pm" } %>
<%= render partial: 'info', :locals => {:info_1 => "Tuesday", :info_2 => "Closed" } %>
<%= render partial: 'info', :locals => {:info_1 => "Wednesday", :info_2 => "9:00am - 5:00pm" } %>
<%= render partial: 'info', :locals => {:info_1 => "Thursday", :info_2 => "9:00am - 5:00pm" } %>
<%= render partial: 'info', :locals => {:info_1 => "Friday", :info_2 => "9:00am - 5:00pm" } %>
<%= render partial: 'info', :locals => {:info_1 => "Saturday", :info_2 => "Closed" } %>
<%= render partial: 'info', :locals => {:info_1 => "Sunday", :info_2 => "Closed" } %>

<div class="flex mt-5 pl-5">
    <div class="w-1/2 font-semibold text-2xl text-gray-800">Recent arrivals</div>
    <div class="w-1/2 text-sm">Last updated 3/10/20 10:00AM</div>
</div>
<%= render partial: 'info', :locals => {:info_1 => "Bread", :info_2 => "" } %>
<%= render partial: 'info', :locals => {:info_1 => "Milk", :info_2 => "" } %>
<%= render partial: 'info', :locals => {:info_1 => "Canned goods", :info_2 => "" } %>
<%= render partial: 'info', :locals => {:info_1 => "...", :info_2 => "" } %>