<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white shadow overflow-hidden sm:rounded-lg">
  <div class="px-4 py-5 sm:px-6">
    <h3 class="text-lg leading-6 font-medium text-gray-900 flex"><%= @food_pantry.name %></h3>
    <% if current_user&.id == @food_pantry.user_id %>
      <div>
        <%= link_to "Edit", edit_user_food_pantry_path(current_user.id, @food_pantry) %> | 
        <%= link_to "Delete", user_food_pantry_path(current_user, @food_pantry), method: :delete,  data: { confirm: "Are you sure?" } %>
      </div>
    <% end %> 
  </div>
  <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
    <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">Location</dt>
        <dd class="mt-1 text-sm text-gray-900"><%= @food_pantry.address %></dd>
        <dd class="mt-1 text-sm text-gray-900"><%= "#{@food_pantry.town}, #{@food_pantry.state} #{@food_pantry.postal_code}" %></dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">Contact</dt>
        <dd class="mt-1 text-sm text-gray-900"><%= @food_pantry.phone_1 %></dd>
        <dd class="mt-1 text-sm text-gray-900"><%= @food_pantry.phone_2 %></dd>
        <dd class="mt-1 text-sm font-medium text-indigo-600 hover:text-indigo-500"><%= mail_to @food_pantry.email %></dd>
        <dd class="mt-1 text-sm font-medium text-indigo-600 hover:text-indigo-500"><%= link_to_if @food_pantry.url, @food_pantry.url, @food_pantry.url %></dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">Eligibility Criteria</dt>
        <dd class="mt-1 text-sm text-gray-900"><%= @food_pantry.eligibility_criteria %></dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">Required Documents</dt>
        <dd class="mt-1 text-sm text-gray-900"><%= @food_pantry.required_documents %></dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">Hours</dt>
        <div class="flex flex-col">
          <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block sm:px-6 lg:px-8">
              <div class="overflow-hidden">
                <table class="min-w-full">
                  <tbody class="bg-white">
                    <% @food_pantry.formatted_schedule.each do |day, hours| %>
                      <tr>
                        <td class="whitespace-nowrap text-sm font-medium text-gray-900 pr-6"><%= day %></td>
                        <td class="whitespace-nowrap text-sm text-gray-500"><%= hours %></td>
                        <% if @food_pantry.open_now? %>
                          <td class="whitespace-nowrap text-sm font-medium text-green-600 pl-6">Open now</td>
                        <% end %>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">Typically Available Items</dt>
        <dd class="mt-1 text-sm text-gray-900"><%= @food_pantry.typically_available %></dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">Recently Arrived Items (Last updated <%= @food_pantry.updated_at.in_time_zone("Eastern Time (US & Canada)").strftime("%-m/%-d/%y %-I:%M %p") %>)</dt>
        <dd class="mt-1 text-sm text-gray-900"><%= @food_pantry.recent_arrivals %></dd>
      </div>

      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">Other Notes</dt>
        <dd class="mt-1 text-sm text-gray-900"><%= @food_pantry.notes %></dd>
      </div>
    </dl>
  </div>
</div>