<%= render "header" %>
<div class="container mx-auto">
  <h2 class="mx-auto text-center my-8 text-2xl">Forgot your password?</h2>
  <div class="mx-auto md:w-1/2 p-3 md:p-8 bg-gray-400">
    <div class="mx-auto">

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field mb-4">
    <%= f.label :email, class: "text-xl leading-loose" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "p-2 rounded w-full" %>
  </div>

  <div class="actions mb-8">
    <%= f.submit "Send me reset password instructions", class: "px-5 py-2 my-2 bg-gray-200 hover:bg-gray-800 hover:text-gray-100 rounded" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
    </div>
  </div>
</div>
