<!DOCTYPE html>
<html class="h-full bg-gray-100">

<head>
  <title>Upper Valley Food Pantries</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_importmap_tags %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
</head>

<body class="h-full">
  <% if notice %>
    <div class="bg-yellow-500 p-4 text-gray-800 text-center">
      <%= notice %>
    </div>
  <% end %>
  <% if alert %>
    <div class="bg-red-500 p-4 text-gray-800 text-center">
      <%= alert %>
    </div>
  <% end %>
  <%= render "header" %>
  <main class="py-6">
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
      <%= yield %>
    </div>
  </main>
</body>

</html>
