<!DOCTYPE html>
<html>

<head>
  <title>FoodResources</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <% if notice %>
    <div class="bg-yellow-500 p-4 text-gray-800 text-center">
      <%= notice %>
    </div>
  <% end %>
  <% if alert %>
    <div class="bg-red-500 p-4 text-gray-800 text-center">
      <%= alert %>
    </div>
  <% end %>
  <%= yield %>
</body>

</html>
